name: Update README

on:
  schedule:
    - cron: "0 * * * *"  # every hour
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: teoxoy/profile-readme-stats@v2
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
